
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
}
body {
  font-family: Arial, Helvetica, sans-serif;


}

.container ul li a{
  color: white;
  font-weight: 500;
  font-size: 16px;
}

header {
  height: 60px;
  background-color: rgb(255, 89, 0);
  margin-bottom: 40px ;
}
header .container {
  background-color: rgb(255, 89, 0);
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.menu ul {
  list-style: none;
  display: flex;
}
.menu li {
  margin: 0 15px;
}

.menu ul li a{
  text-decoration: none;
}

.simboli {
  display:inline-block;
  color: white;
}
.logo {
  color: white;
  font-weight: 800;
}
img {
  width: 100%;
}

/* MAIN */
.row {
  display: flex;
  flex-wrap: wrap;
}
.row .image {
  width: 100%;
  position: relative;
}
.image img:not(:first-child) {
  position: absolute;
  left: 0;
  top: 0;
}
.image img:last-of-type{
  display: none;
}

.image:hover img:last-of-type{
  display: block;
}



.px-2 {
  padding: 0 10px;
}

.product {
  position: relative;
  display: inline-block;
  width: 300px;
  cursor: pointer;
  height: 500px;
  background-color: aqua;
}

.product .discount {
  position: absolute;
  padding: 3px 3px;
  background-color: red;
  color: white;
  bottom: 0px;
  left: 10px;
}

.sosten {
  position: absolute;
  padding: 3px 3px;
  background-color: green;
  color: white;
  bottom: 00px;
  left: 70px;
}

.cuore {
 
    position: absolute;
    right: 0;
    top: 24px;
    display: block;
    width: 30px;
    height: 30px;
    padding: 8px;
    padding-bottom: 20px;
    background-color: blue;
}


/* FOOTER */
footer {
  height: 100px;
  background-color: black;
  color: white;

}

footer .container {
  background-color:black;
  display: flex;
  height: 100%;
  align-items: center;
  justify-content: space-around;
}